.container {
  padding: 20px;
}

mat-form-field {
  width: 100%;
  max-width: 400px; // Limit dropdown width
  margin-bottom: 20px;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* Adjust as needed */
  margin-top: 50px;

  mat-spinner {
    margin-bottom: 16px;
  }
}

.character-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  mat-card-header {
    flex-shrink: 0;
  }

  .character-image {
    object-fit: cover;
    height: 250px;
    flex-grow: 1;
    background-color: #eee;
  }

  mat-card-actions {
    margin-top: auto;
    padding: 8px 16px !important;
    flex-shrink: 0;
  }
}

.no-characters {
  text-align: center;
  margin-top: 50px;
  color: grey;
}

// Responsive adjustments (same as characterlist)
@media (max-width: 1200px) {
  mat-grid-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 900px) {
  mat-grid-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 600px) {
  mat-grid-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
